.search {
  &__wrapper {
    transition: all 0.3s;
    width: 50%;
    position: relative;
    &:has(input:focus) {
      width: 100%;
    }
    &:has(input:focus) button {
      background: linear-gradient(
        90deg,
        rgb(255, 255, 255) 0%,
        rgb(255, 255, 255) 0%,
        rgb(255, 255, 255) 0%,
        rgb(255, 255, 255) 0%
      );
    }
  }

  &__field {
    width: 100%;
    background-color: var(--colorMainWhite);
    padding: 6px 20px 6px 10px;
    font-size: 15px;
    border-radius: 5px;
    &:focus {
      background-color: #fff;
    }
  }

  &__button {
    width: 34px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(
      90deg,
      rgba(238, 238, 238, 0.3337710084033614) 0%,
      rgba(238, 238, 238, 0.908000700280112) 11%,
      rgba(238, 238, 238, 1) 28%,
      rgba(238, 238, 238, 1) 100%
    );
  }

  &__svg {
    height: 100%;
    margin-right: 4px;
    &:hover {
      transition: all 0.3s;
      fill: var(--colorMainRed);
    }
  }
}

@media (max-width: 768px) {
  .search {
    &__wrapper {
      width: 100%;
    }
    &__field {
        padding: 12px 20px 12px 10px;
        font-size: 18px;
      }
  }
}
