<h1 class="title">Main page</h1>

<div class="promo">
  <div class="promo__slider">
    <app-main-slider class="main-slider"></app-main-slider>
  </div>

  <div>
    <h2 class="promo__title">Title</h2>
    <p class="promo__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, incidunt fugiat?
      Corrupti doloremque, magnam nulla provident expedita odit facere in deleniti quos culpa impedit voluptates quod
      dolorem. Totam eveniet eum, corrupti aperiam molestias voluptatem commodi soluta in quod tempore ipsum molestiae
      aspernatur consequatur officiis quae minima omnis id quas quaerat vitae ratione nisi dicta dolorum? Adipisci
      quidem omnis repellendus doloribus porro inventore officiis molestiae repellat ratione ipsam. Molestias distinctio
      quisquam dolorem, beatae ducimus unde fuga corporis, a asperiores sunt voluptatem iste atque saepe fugit in vitae
      quam ut adipisci, quos vero nihil? Quisquam laborum ab neque voluptatum. Aliquid, tempora distinctio.</p>
  </div>

</div>
