.auth {
  display: flex;
  align-items: center;
  background: none;
  font-size: 24px;
  color: var(--colorMainWhite);
  transition: all 0.3s;
  column-gap: 5px;
  &:hover &__svg {
    animation: run infinite 1s linear  
  }
  &__text {
  }

  &__svg {
    position: relative;
    top: 2px;
  }
}

@keyframes run {
    0% { transform: translateX(-0px)};
    50% { transform: translateX(-4px)};
    100% { transform: translateX(-0px)};
}