<div class="about">

  <h1 class="about__title">About our super game market!</h1>
  <p class="about__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, deleniti.</p>
  <p class="about__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere corrupti, placeat veritatis
    unde, perspiciatis amet commodi suscipit qui molestias, tempora explicabo porro quas error dolorem excepturi totam
    dolorum eveniet. Laboriosam natus praesentium obcaecati saepe odit. Quisquam non sit repellat aperiam ipsum, soluta
    hic tenetur laudantium saepe nam possimus sint deleniti, explicabo debitis nobis voluptatem. Laudantium, quos. A
    tempore ratione nostrum delectus facere mollitia maiores possimus aut voluptates, adipisci inventore placeat ipsam
    sunt eligendi rerum molestiae itaque assumenda, velit blanditiis est tenetur quisquam voluptatibus veritatis. Vitae
    quo maxime explicabo? Aperiam, quasi incidunt. Impedit totam, consectetur dignissimos sapiente ullam dolores
    voluptatum iste!</p>
  <p class="about__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod delectus hic dolorum fuga
    aperiam molestias expedita ratione repellendus aliquid atque?</p>

</div>
